:host {
  border: solid 1px #999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  gap: 10px;
  border-radius: 10px;

  div {
    &.content,
    &.company,
    &.button {
      display: flex;
      justify-content: space-between;
    }

    &.button {
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all linear 0.3s;

        &.details {
          background-color: #bbb;

          &:hover {
            background-color: #ccc;
          }
        }

        &.add-to-cart {
          background-color: #007bff;
          color: white;

          &:hover {
            background-color: #007bffdd;
          }
        }
      }
    }
  }

  .hidden {
    color: #999;
  }
}
