<tr>
  <td>
    <div class="container">
      @for (product of products(); track product.product.id) {
        <div class="form-item">
          <div class="form-column">
            <label for="">{{ product.product.id }}</label>
            <p>{{ product.product.name }}</p>
            <span>{{ product.quantity }}</span>
            <div>{{ product.product.price }}</div>
            <button class="delete" (click)="onDelete(product.product.id)">
              刪除
            </button>
          </div>
        </div>
      }
    </div>
  </td>
</tr>
