:host {
  display: flex;
  padding-top: 10px;
  gap: 20px;
  justify-content: center;

  img {
    flex: 0 0 300px;
  }

  section {
    padding: 10px 20px;
    flex: 0 0 450px;
    border: 1px solid #999;
    border-radius: 10px;

    > div {
      margin-bottom: 20px;

      > strong {
        display: inline-block;
        font-size: 18px;
        width: 120px;
        text-align: center;
      }

      > span {
        display: inline-block;
        font-size: 18px;
      }

      &.button {
        display: flex;
        justify-content: space-between;

        button {
          padding: 20px;
          border-radius: 30px;
          font-size: 16px;
          border: none;
          cursor: pointer;

          &.back {
            background: #eee;
          }

          &.add {
            color: white;
            background: #007bff;
          }
        }
      }
    }
  }
}
