<!-- @for (item of items; track $index) { -->
<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  (isShowChange)="onSetDisplay($event)"
  [price]="price"
/>
<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  (isShowChange)="onSetDisplay($event)"
  [price]="price"
/>
<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  (isShowChange)="onSetDisplay($event)"
  [price]="price"
/>
<app-product-card
  id="1"
  [productName]="productName"
  [author]="author"
  [company]="company"
  [isShow]="isShow"
  [photoUrl]="photoUrl"
  [createDate]="createDate"
  (isShowChange)="onSetDisplay($event)"
  [price]="price"
/>
<!-- } -->
