:host {
  display: block;

  a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #005ccb;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      background-color: #005ccb33;
    }

    &.active {
      background-color: #005ccb1a;
    }

    & .badge {
      background-color: #007bff;
      color: white;
      font-size: 1rem;
      padding: 5px 10px;
      margin-left: 10px;
      border-radius: 20px;
    }
  }
}
